#stage {
  position: relative;
  min-height: 100vh;

  .faux_slide {
    height: 100vh;
    width: 100%;
    position: relative;
    scroll-snap-align: start;
  }
}

#cards {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: var(--card-height);
  pointer-events: none;
  z-index: 2;

  #cards_in {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 450vmax;
    height: 450vmax;
    will-change: transform;
  }
}

.card-holder {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 50%;
  transform-origin: 50% 100%;
  will-change: transform;

  &.active {
    .card-holder-in {
      opacity: 1;
    }
  }

  .card-holder-in {
    height: var(--card-height);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    transition: all calc(var(--duration) * 4) cubic-bezier(0.19, 1, 0.22, 1);
  }

  .card {
    height: var(--card-height);
    aspect-ratio: 9/13;
    position: relative;
    transform-style: preserve-3d;

    &-in {
      position: absolute;
      inset: 0;
      overflow: hidden;
      border-radius: calc(var(--card-height) * 0.1);
      background: var(--color1);

      img,
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    & + .card {
      position: absolute;
      inset: 0;
    }
  }
}
// 랜드스케이프 모드 스타일
