.projects-stage {
  position: relative;
  min-height: 100vh;

  .faux_slide {
    height: 100vh;
    width: 100%;
    position: relative;
    scroll-snap-align: start;
  }
}

/* 카드 컨테이너 기본 스타일 */
#cards {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: var(--card-height);
  pointer-events: none;
  z-index: 22;

  &_in {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 450vmax;
    height: 450vmax;
    will-change: transform;
  }
}

/* 카드 홀더 기본 스타일 */
.card-holder {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 50%;
  transform-origin: 50% 100%;
  will-change: transform;

  .card-holder-in {
    height: var(--card-height);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: all calc(var(--duration) * 4) cubic-bezier(0.19, 1, 0.22, 1);
  }

  .card {
    height: var(--card-height);
    aspect-ratio: 9/13;
    position: relative;
    transform-style: preserve-3d;
    z-index: 20;

    .card-overlay {
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.5);
      opacity: 0;
      transition: opacity 0.3s ease;
      border-radius: calc(var(--card-height) * 0.1);
      z-index: 21;
    }

    &-in {
      position: absolute;
      inset: 0;
      overflow: hidden;
      border-radius: calc(var(--card-height) * 0.1);

      img,
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
      }
    }

    & + .card {
      position: absolute;
      inset: 0;
    }
  }
}

/* 데스크탑 (가로모드) */
@media (orientation: landscape) {
  :root {
    --card-height: 60vh;
    --card-height: 60svh;
  }

  body.details #cards {
    transform: translate(calc(-50% - 25vw), -50%);
  }
}

/* 모바일 (세로모드) */
@media (orientation: portrait) {
  :root {
    --card-height: 44vh;
    --card-height: 44svh;
  }

  /* 세로 모드에서 카드 컨테이너 스타일 수정 */
  #cards {
    position: fixed;
    height: var(--card-height);

    &_in {
      width: 100vw;
      height: auto;
      // top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  /* 카드 홀더 세로 모드 스타일 */
  .card-holder {
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;

    .card {
      transform-origin: center center;
    }

    /* 두 번째 카드 위치 조정 */
    .card + .card {
      transform: translateY(10%) translateX(8%) rotate(5deg);
    }
  }

  /* 활성화된 카드홀더 스타일 */
  .card-holder.active {
    z-index: 25;

    .card:first-child {
      transform: translateY(-8%) translateX(-8%) rotate(-5deg);
    }

    .card:last-child {
      transform: translateY(10%) translateX(8%) rotate(5deg);
    }

    .card-overlay {
      opacity: 1;
    }
  }
}
