@keyframes textReveal {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.word {
  overflow: hidden;
  display: inline-block;
  margin: 0 0.2em;

  span {
    display: inline-block;
    transform: translateY(100%);
    opacity: 0;

    &.in {
      animation: textReveal 0.6s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    }
  }
}
